.greeting-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  /* 80px is the height of the header */
  background-color: #010101;
  color: #fff;
  text-align: center;
}

.greeting-shape-1 {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 800px;
  height: 800px;
  background: #3023ae00;
  background: -moz-linear-gradient(310deg, #3023ae00 0%, #00aeff3b 100%);
  background: -webkit-linear-gradient(310deg, #3023ae00 0%, #00aeff3b 100%);
  background: linear-gradient(310deg, #3023ae00 0%, #00aeff3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3023ae00", endColorstr="#00aeff3b", GradientType=1);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: -10vmin 15vmin rgba(255, 255, 255, 0.01)
}

.greeting-shape-2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 700px;
  height: 700px;
  background: #3023ae00;
  background: -moz-linear-gradient(310deg, #3023ae00 0%, #00aeff3b 100%);
  background: -webkit-linear-gradient(310deg, #3023ae00 0%, #00aeff3b 100%);
  background: linear-gradient(310deg, #3023ae00 0%, #00aeff3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3023ae00", endColorstr="#00aeff3b", GradientType=1);
  border-radius: 70% 30% 60% 40% / 40% 70% 30% 60%;
  box-shadow: 5vmin 5vmin rgba(255, 255, 255, 0.01)
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  z-index: 1;
}

.greeting-name {
  color: #c4cfde;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.greeting-name-highlight {
  color: #64ffda;
}

.greeting-role {
  color: #7c838e;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.greeting-description {
  color: #c4cfde;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.greeting-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.greeting-social-links a {
  display: inline-block;
  margin: 0 0.5rem;
}

.greeting-social-links a svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #c4cfde;
  transition: all 0.2s ease-in-out;
}

.greeting-social-links a svg:hover {
  color: #64ffda;
  transform: scale(1.2);
}

.greeting-resume a {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid #64ffda;
  border-radius: 2rem;
  color: #64ffda;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.greeting-resume a:hover {
  background-color: #64ffda;
  color: #010101;
  scale: 1.1;
}

@media screen and (max-width: 768px) {
  .greeting-section {
    height: calc(100vh - 60px);
    /* 60px is the height of the header */
  }

  .greeting-shape-1 {
    width: 600px;
    height: 600px;
  }

  .greeting-shape-2 {
    width: 500px;
    height: 500px;
  }

  .greeting-container {
    max-width: 40rem;
  }

  .greeting-name {
    font-size: 3rem;
  }

  .greeting-role {
    font-size: 1.5rem;
  }

  .greeting-description {
    font-size: 1.25rem;
  }

  .greeting-social-links a svg {
    width: 2rem;
    height: 2rem;
  }

  .greeting-resume a {
    font-size: 1.25rem;
  }
}